.login {
    background-image: url(../../public/images/bg-01.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: calc(100% - 30px);
    min-height: calc(100vh - 30px);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 15px;
    color: #333;
    overflow: hidden;
}


.AnimateIcons {
    opacity: 1;
}

.AnimateIcons:hover {
    opacity: 0.5;
}